/* Примените стили к карточкам: width, padding, border, background-color. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  border: 1px solid black;
  border-radius: 5px;
  background-color: antiquewhite;
  width: 200px;
  padding: 20px;
  margin: 10px;
}

/* .card p {
  margin: 10px 0;
} */

#root {
  /* display: flex; */
  /* justify-content: center; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.progress-container {
  position: relative;
  border: 1px solid black;
  height: 20px;
  /* отец */
}

.progress-line {
  position: absolute;
  background-color: lightgreen;
  height: 100%;
  /* сын */
}

.progress-value {
  position: absolute;
  text-align: center;
  width: 100%;
}
