* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards_container {
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
}

.card_css {
  border: solid black 1px;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: blanchedalmond;
}

.emailText {
  display: inline;
}

.email_elem {
  text-decoration: none;
}

.avatar {
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

@media screen and (max-width: 1048px) {
  .cards_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 980px) {
  .cards_container {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* https: ; //reqres.in/api/users?page=2 */
